@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #5a4af4;
  --secondary-color: #1ea5fc;
  --tertary-color: #b66dff;
  --success-color: #05ce91;
  --error-color: #ff6161;
  --warning-color: #ffad49;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #120f31;
  padding: 20px 0 20px 0;
}

/* .App::-webkit-scrollbar {
  display: none;
} */

.back {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./image/Background.png);
}

.video {
  width: 1200px;
  height: 600px;
}

.list2 {
  display: flex;
  width: 80vw;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.list2::-webkit-scrollbar {
  display: none;
}

.l1 {
  padding: 20px;
}

.vote {
  color: var(--success-color);
}
